@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;800&display=swap');
@layer reset {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html {
        line-height: 1.2;
        font-size: 16px;
        font-family: Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    }
}