@layer utilities {
    /* spacing (scale) */
    .m-0 {
        margin: 0;
    }

    .mt-1 {
        margin-top: 0.25rem;
    }

    .mt-2 {
        margin-top: 0.5rem;
    }

    .mt-3 {
        margin-top: 1rem;
    }

    .mb-1 {
        margin-bottom: 0.25rem;
    }

    .mb-2 {
        margin-bottom: 0.5rem;
    }

    .mb-3 {
        margin-bottom: 1rem;
    }

    /* display */
    .d-block {
        display: block;
    }

    .d-inline {
        display: inline;
    }

    .d-inline-block {
        display: inline-block;
    }

    .grid {
        display: grid;
    }

    /* flex */
    .flex {
        display: flex;
    }

    .flex-row {
        flex-direction: row;
    }

    .flex-col {
        flex-direction: column;
    }

    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .gap-1 {
        gap: 0.25rem;
    }

    .gap-2 {
        gap: 0.5rem;
    }

    .gap-3 {
        gap: 1rem;
    }

    .gap-4 {
        gap: 1.5rem;
    }

    .gap-5 {
        gap: 2rem;
    }

    /* text */
    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    /* sizing */
    .w-full {
        width: 100%;
    }

    .h-full {
        height: 100%;
    }

    .w-vp {
        width: 100vw;
    }

    .h-vp {
        height: 100vh;
    }

    /* main axis (horizontal) */
    .al-m-center {
        justify-content: center;
    }

    .al-m-edges {
        justify-content: space-between;
    }

    .al-m-start {
        justify-content: flex-start;
    }

    .al-m-end {
        justify-content: flex-end;
    }

    /* secondary axis (vertical) */
    .al-s-center {
        align-items: center;
    }

    .al-s-start {
        align-items: flex-start;
    }

    .al-s-end {
        align-items: flex-end;
    }

    /* misc */
    .hidden {
        display: none;
    }
}
